.mom-and-son {
  min-width: 100vw;
  background-image: url(../../assets/images/banner-mom-and-son.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.mom-and-son-info {
  margin: 17.5vw 10vw 18vw 18vw;
}

.mom-and-son-info h2 {
  color: purple;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.mom-and-son-info .btn {
  background-color: darkorange;
  color: white;
  border-radius: 0;
  font-size: 1vw;
  padding: 0.8vw 0.8vw 0.6vw 0.8vw;
}

