.carousel-inner {
  padding: 5vw 11vw 2vw 7vw;
  margin-bottom: 4vw;
}

.review-title {
  font-size: 1.6vw;
  font-weight: bold;
  color: purple;
  text-align: center;
  margin: 0;
}

.review-text {
  font-size: 1.6vw;
  padding: 1vw;
  margin: 0;
}

.carousel-item-counter {
  color: yellow;
}

.carousel-indicators {
  list-style: disc;
}

.carousel-indicators li {
  color: orange;
  margin: 0;
}

.fa-angle-right,
.fa-angle-left {
  color: purple;
}

.carousel-control-next {
  padding-right: 10vw;
}