#section1 {
  min-width: 100vw;
  padding: 0;
}

.col {
  padding: 0;
}

.col1 {
    min-width: 50vw;
}

.section1-info {
    min-height: 100%;
    padding: 8vw 5vw 5vw 10vw;
}

.section1-info h2 {
  color: purple;
  font-size: 3vw;
  font-weight: bolder;
}

.section1-info p {
  font-size: 1.6vw;
}

.section1-info a {
  color: purple;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0;
}

.col2 {
  min-width: 50vw;
}

.col2 img {
  width: 100%;
}
