#section5 {
  min-width: 100vw;
  padding: 0;
}

#section5 .col {
  padding: 0;
}

#section5 .col1 {
  width: 20vw;
}

.section5-info {
  min-height: 100%;
  padding: 6vw 5vw 5vw 10vw;
}

.section5-info h2 {
  color: black;
  font-size: 3vw;
  font-weight: bolder;
  margin: 0;
}

#section5 .col2 {
  width: 80vw;
}

.col1 .fa {
    color: orange;
}
