.helping-hand {
  min-width: 100vw;
  padding: 0;

  &__info {
    max-width: 50vw;
    margin: 8vw 5vw 0vw 18vw;

    & > h2 {
      color: purple;
      font-size: 3vw;
      font-weight: bolder;
    }

    & p {
      font-size: 1.2vw;
      margin: 0;
    }

    & a {
      color: purple;
      font-size: 1.5vw;
      font-weight: bold;
      padding: 0;
    }
  }

  &__col2 img {
    width: 100%;
  }
}
